<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lagranmoon.beacon.mapper.HabitMapper">

    <insert id="insertHabit" parameterType="Habit" useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO habit(open_id, title, content, frequency, duration, create_time)
        VALUES (#{openId}, #{title}, #{content}, #{frequency}, #{duration}, CURRENT_DATE)

    </insert>

    <select id="getHabitsByOpenId" parameterType="string" resultType="Habit">
        SELECT id, title
        FROM habit
        WHERE open_id = #{openId}
    </select>

    <select id="getHabitById" resultType="Habit">
        SELECT title, content, frequency, duration, create_time
        FROM habit
        WHERE id = #{id}
          AND open_id = #{openId}
        LIMIT 1
    </select>

    <delete id="deleteHabitById">
        DELETE
        FROM habit
        WHERE id = #{id}
          AND open_id = #{openId}
    </delete>

</mapper>